.hero-builder-panel {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;

	.card-selector-page,
	.equipment-page,
	.finish-page {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		height: 100%;

		.header {
			flex: 0 0 auto;
		}

		.content {
			flex: 1 1 0;
			overflow-y: auto;

			.card-selection-row {
				width: 830px;
				margin: 0 auto;
			}

			.rename-section {
				margin: 10%;

				.hero-name {
					margin: 20px 0;
					font-size: 50px;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 5px;
				}

				.tags {
					margin: 20px 0;
					text-align: center;
				}
			}
		}

		.footer {
			flex: 0 0 auto;
		}
	}
}
