.encounter-map-mini-token {
	aspect-ratio: 1 / 1;
	position: absolute;
	border-radius: 50%;
	background-color: black;
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
	cursor: crosshair;

	.mini-token-face {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scale(0.8);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: rgb(150, 150, 150);
		color: white;
		font-weight: 600;
		z-index: 50;
	}

	&.hero {
		background-image: linear-gradient(135deg, rgb(0, 100, 0), rgb(0, 70, 0));

		.mini-token-face {
			background-image: linear-gradient(135deg, rgb(0, 150, 0), rgb(0, 100, 0));
		}
	}

	&.monster {
		background-image: linear-gradient(135deg, rgb(200, 0, 0), rgb(100, 0, 0));

		.mini-token-face {
			background-image: linear-gradient(135deg, rgb(240, 0, 0), rgb(200, 0, 0));
		}
	}

	&.current {
		.mini-token-face {
			background: rgb(255, 255, 255) !important;
			color: rgb(0, 0, 0) !important;
			pointer-events: none;
		}
	}

	&.hidden:not(.current):not(.selected):not(.mouse-over) {
		opacity: 0.5;
	}

	&.selectable:not(.selected) {
		&:hover {
			background-color: rgb(60, 170, 255);
		}
	}

	&.selected {
		outline: 3px solid rgb(60, 170, 255);
	}

	&:not(.selectable) {
		opacity: 0.3;
		pointer-events: none;
	}

	.health-bar {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgb(200, 200, 200);
		z-index: 100;

		.health-bar-gauge {
			background-color: rgb(150, 0, 24);
			height: 100%;
		}
	}

	.pulse {
		position: absolute;
		top: 5%;
		left: 5%;
		right: 5%;
		bottom: 5%;
		border: 1px solid rgb(60, 170, 255);
		border-radius: 50%;
		background: rgb(60, 170, 255);
		pointer-events: none;
		transform: scale(0.8);

		&.pulse-one {
			z-index: 30;
			opacity: 0.6;
			animation: 2s linear 1s infinite backwards pulse-1;
		}

		&.pulse-two {
			z-index: 20;
			opacity: 0.7;
			animation: 2s linear 1s infinite backwards pulse-2;
		}

		&.pulse-three {
			z-index: 10;
			opacity: 0.8;
			animation: 2s linear 1s infinite backwards pulse-3;
		}
	}

	.token-popover {
		position: absolute;
		z-index: 200;
		opacity: 0;
		transform: scale(0.9);
		pointer-events: none;

		&.shown {
			opacity: 1;
			transform: scale(1);
		}

		.playing-card {
			aspect-ratio: unset;

			.playing-card-inner {
				.playing-card-front,
				.playing-card-back {
					bottom: unset;
					min-height: 300px;
				}
			}
		}
	}
}

@keyframes pulse-1 {
	10% {
		transform: scale(0.8);
	}

	70% {
		transform: scale(4);
		opacity: 0;
	}

	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}

@keyframes pulse-2 {
	30% {
		transform: scale(0.8);
	}

	80% {
		transform: scale(4);
		opacity: 0;
	}

	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}

@keyframes pulse-3 {
	50% {
		transform: scale(0.8);
	}

	90% {
		transform: scale(4);
		opacity: 0;
	}

	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}
