.encounter-map-mini-token {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: black;
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);

	.mini-token-face {
		width: 100%;
		height: 100%;
		transform: scale(0.8);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: rgb(150, 150, 150);
		color: white;
		font-weight: 600;
		z-index: 50;
	}

	&.on-map {
		position: absolute;

		.mini-token-face {
			position: relative;
		}
	}

	&.current {
		.mini-token-face {
			background: rgb(255, 255, 255) !important;
			color: rgb(0, 0, 0) !important;
			pointer-events: none;
		}
	}

	&.hidden:not(.current):not(.selected):not(.mouse-over) {
		opacity: 0.5;
	}

	&.selectable:not(.selected) {
		cursor: pointer;

		&:hover {
			background-color: var(--primary);
		}
	}

	&.selected {
		outline: 3px solid var(--primary);
	}

	&:not(.selectable) {
		opacity: 0.3;
		pointer-events: none;
	}

	.icon-prone,
	.icon-stunned {
		position: absolute;
		top: 0;
		background-color: orange;
		border-radius: 40%;
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
	}

	.icon-prone {
		left: 0;
	}

	.icon-stunned {
		right: 0;
	}

	.health-bar {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgb(200, 200, 200);
		z-index: 100;

		.health-bar-gauge {
			background-color: var(--blood);
			height: 100%;
		}
	}

	.pulse {
		position: absolute;
		top: 5%;
		left: 5%;
		right: 5%;
		bottom: 5%;
		border: 1px solid var(--primary);
		border-radius: 50%;
		background: var(--primary);
		pointer-events: none;
		transform: scale(0.8);

		&.pulse-one {
			z-index: 30;
			opacity: 0.6;
			animation: 2s linear 1s infinite backwards pulse-1;
		}

		&.pulse-two {
			z-index: 20;
			opacity: 0.7;
			animation: 2s linear 1s infinite backwards pulse-2;
		}

		&.pulse-three {
			z-index: 10;
			opacity: 0.8;
			animation: 2s linear 1s infinite backwards pulse-3;
		}
	}
}

@keyframes pulse-1 {
	10% {
		transform: scale(0.8);
	}

	70% {
		transform: scale(4);
		opacity: 0;
	}

	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}

@keyframes pulse-2 {
	30% {
		transform: scale(0.8);
	}

	80% {
		transform: scale(4);
		opacity: 0;
	}

	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}

@keyframes pulse-3 {
	50% {
		transform: scale(0.8);
	}

	90% {
		transform: scale(4);
		opacity: 0;
	}

	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}
