.effect-page {
	display: flex;
	gap: 20px;
	height: 100%;

	.effect-type-column {
		flex: 0 0 200px;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;


		button {
			display: block;
			font-size: 13px;
			letter-spacing: 0;
			font-weight: 400;
			margin: 2px 0;
			padding: 0 5px;
			flex-direction: row;
			text-align: left;
			min-height: 30px;
			background-color: rgb(245, 245, 245);

			&:hover {
				background-color: var(--primary-light);
			}

			&.selected {
				background-color: var(--primary);
				color: rgb(255, 255, 255);
			}
		}
	}

	.effect-list-column {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
}
