.expander {
	position: relative;
	width: 100%;
	margin: 10px 0;
	border: 2px solid var(--primary);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	cursor: pointer;

	&:hover {
		background-color: var(--primary-light);
	}

	.expander-header {
		margin: 5px 10px;
	}

	.expander-content {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 5px 10px;

		p {
			margin: 10px 0;
		}
	}
}
