.encounter-map-overlay {
	aspect-ratio: 1 / 1;
	position: absolute;
	border-radius: 50%;
	border: 1px solid var(--primary);
	background: radial-gradient(transparent, rgb(150, 50, 250));
	opacity: 0.25;
	pointer-events: none;
}
