.stat-value {
	display: flex;
	font-size: 13px;
	margin: 5px 0;

	.stat-value-label {
		flex: 1 1 auto;
		font-weight: 600;
		margin-right: 5px;
	}

	.stat-value-value {
		flex: 1 1 auto;
		text-align: right;
	}
}
