.combat-stats-panel {
	.wounds {
		color: darkred;
	}

	.stats-row {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 10px;

		&>* {
			flex: 1 1 0;
		}
	}

	.condition {
		margin-top: 10px;
		border-top: 1px solid rgb(220, 220, 220);
	}
}
