.setup-screen {
    height: 100%;
    display: flex;
    flex-direction: column;

	&.portrait {
		.setup-content {
			margin: 10px;
			flex-direction: column;

			.left-panel {
				gap: 20px;
			}

			.right-panel {
				width: 500px;
				gap: 0;
			}
		}
	}

	.setup-top-bar {
		flex: 0 0 auto;
		background-color: rgb(230, 230, 230);
		border-bottom: 2px solid var(--border);
		text-align: center;
		padding: 10px 0;
	}

	.setup-content {
		flex: 1 1 0;
        display: flex;
		flex-direction: row;
		align-items: center;
        justify-content: space-evenly;
		gap: 10px;
		margin: 50px 10px;

		.left-panel {
			width: 500px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 30px;
		}

		.right-panel {
			width: 320px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 30px;

			.packs-btn {
				width: 200px;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 15px;
			}
		}

		.empty-panel {
			display: flex;
			align-items: center;
			height: 75px;
			border: 1px solid var(--border);
			border-radius: 10px;
			background-color: rgb(250, 250, 250);
			padding: 0 15px;
		}

		.button-panel {
			display: flex;
			align-items: center;
			width: 100%;
			height: 75px;
		}
	}
}
