.level-up {
	display: flex;
	align-items: center;
	gap: 10px;
	border: 2px solid rgb(220, 220, 220);
	border-radius: 10px;
	padding: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	
	.separator {
		margin: 0 10px;
		flex: 0 0 2px;
		align-self: center;
		height: 150px;
		background-color: rgb(220, 220, 220);
	}

	.selected-feature {
		margin: 10px 0;
	}

	.level-up-additional {
		flex: 1 1 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
