.level-up {
	display: flex;
	width: 870px;
	margin: 0 auto;

	&.selecting {
		flex-direction: column;
	}

	&.selection-made {
		flex-direction: row;
		gap: 10px;
	}

	.selected-feature {
		margin: 10px 0;
	}

	.additional {
		flex: 1 1 0;
		margin: 10px;
		align-items: flex-start;
		justify-content: center;
	}
}
