.level-up {
	margin: 0 auto;
	width: 650px;
	display: flex;
	flex-direction: column;

	.feature-detail-selection {
		display: flex;
		flex-direction: row;
		gap: 10px;

		.selected-feature {
			margin: 10px 5px;
		}

		.level-up-additional {
			flex: 1 1 0;
		}
	}
}
