.combatant-action {
	display: flex;
    flex-direction: column;

	.action-selected-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}

	.action-details {
		margin-top: 10px;

		.action-prerequisite {
			margin: 5px;
		}

		.action-parameter {
			margin: 5px 0;
			border: 2px solid rgb(220, 220, 220);
			border-radius: 5px;
			padding: 10px;

			.action-parameter-top-line {
				display: flex;
				align-items: center;
				gap: 10px;

				.action-parameter-name {
					flex: 1 1 0;
				}

				.action-parameter-value {
					flex: 1 1 0;
					text-align: right;

					.square-indicator {
						margin: 0 5px;
						border: 1px solid rgb(220, 220, 220);
						border-radius: 5px;
						background-color: rgb(255, 255, 255);
						padding: 5px;
						display: inline-flex;
						align-items: center;
						gap: 3px;
					}
				}

				.action-parameter-change {
					flex: 0 0 auto;

					.map-btn {
						width: 40px;
					}
				}
			}
		}
	}
}
