.confirm-query {
	margin: 10px 0;
	border: 2px solid var(--bad);
	border-radius: 10px;
	padding: 10px 15px;
	background-color: var(--bad-light);

	.query-label {
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.button-row {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		button {
			width: 120px;
		}
	}
}
