.items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	gap: 10px;

	.section {
		.item-row {
			display: flex;

			.item {
				flex: 1 1 0;
				margin: 0 10px;
			}
		}
	}
}
