.items {
	.equipped {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
		gap: 10px;

		.grid-cell {
			display: flex;
			gap: 10px;

			.location-section {
				flex: 1 1 0;

				&.double {
					flex: 2 2 0;
				}

				.cards {
					display: flex;
					gap: 10px;

					.item {
						flex: 1 1 0;
						display: flex;
						flex-direction: column;
						align-items: center;
					}
				}
			}
		}
	}

	.carried {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 10px;

		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
