.campaign-map {
	.campaign-map-inner {
		width: 620px;
		height: 620px;
		margin: 0 auto;

		.campaign-map-square-container {
			position: relative;
			width: 100%;
			height: 100%;
	
			.campaign-map-square {
				aspect-ratio: 1 / 1;
				position: absolute;
				border: 0 solid rgb(0, 0, 0);
				cursor: crosshair;
			}

			.campaign-map-label {
				aspect-ratio: 1 / 1;
				position: absolute;
				border: 1px solid rgb(0, 0, 0);
				border-radius: 50%;
				background-color: rgb(255, 255, 255);
				color: rgb(0, 0, 0);
				font-size: 10px;
				font-weight: 600;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: scale(0.7);
			}
		}
	}
}
