.combatant-row-panel {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	border: 2px solid rgb(220, 220, 220);
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	padding: 0 10px;
	overflow: hidden;

	&.list,
	&.detailed {
		height: 75px;
	}

	&.initiative {
		min-height: 60px;
	}

	.token-container {
		flex: 0 0 40px;
		position: relative;
		height: 40px;
	}

	.name {
		flex: 1 1 auto;
		margin: 5px 0;
	}

	.info {
		&.below {
			.tags {
				margin: 5px 0;
			}
		}

		&.right {
			flex: 1 1 140px;
			text-align: end;
		}

		&.end {
			flex: 1 1 auto;
		}
	}

	.buttons {
		flex: 0 0 auto;
		display: flex;

		.icon-btn {
			flex: 0 0 40px;
		}
	}

	&.clickable {
		cursor: pointer;

		&:hover {
			background-color: rgb(200, 230, 255);
		}
	}

	&.current {
		border-color: rgb(60, 170, 255);
	}

	&.dimmed {
		opacity: 0.5;
	}
}
