.combatant-row-panel {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	border: 2px solid rgb(220, 220, 220);
	border-radius: 10px;
	padding: 5px 10px;
	overflow: hidden;

	&.list,
	&.detailed {
		height: 75px;
	}

	&.detailed {
		.info.end {
			flex: 0 0 auto;
		}
	}

	&.initiative {
		min-height: 60px;
	}

	&.column {
		flex-direction: column;
		padding: 10px;

		.name {
			writing-mode: vertical-rl;
		}
	}

	&.hero {
		background-color: rgb(255, 255, 255);
	}

	&.monster {
		background-color: rgb(230, 230, 230);
	}

	&.boss {
		border-color: rgb(160, 0, 0);
		background-color: rgb(255, 240, 240);
	}

	.encounter-map-mini-token {
		flex: 0 0 auto;
	}

	.name {
		flex: 1 1 auto;
	}

	.info {
		&.below {
			.tags {
				margin: 5px 0;
			}
		}

		&.right {
			flex: 1 1 140px;
			text-align: end;
		}

		&.end {
			flex: 0 0 120px;
		}

		.hearts {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;
			color: rgb(150, 0, 24);

			.hearts-row {
				margin-bottom: -4px;
			}
		}
	}

	.buttons {
		flex: 0 0 auto;
		display: flex;

		.icon-btn {
			flex: 0 0 40px;
		}
	}

	&.clickable {
		cursor: pointer;
	}

	&.current {
		border-color: rgb(60, 170, 255);
		background-image: none;
		background-color: rgb(200, 230, 255);
		cursor: default;
		pointer-events: none;
	}

	&.dimmed {
		opacity: 0.5;
	}

	hr {
		margin: 10px 0;
	}
}
