.stats {
	display: flex;
	flex-direction: column;

	.row {
		display: flex;
		align-items: flex-start;
		gap: 10px;

		&.combat {
			width: 300px;
			margin: 0 auto;
		}

		.column {
			flex: 1 1 220px;
		}

		.stats-row {
			display: flex;
			align-items: center;
			justify-content: center;

			&>* {
				flex: 1 1 0;
			}
		}

		.xp-gauge {
			display: flex;
			justify-content: center;
		}
	}
}
