.items {
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: 20px;

	.items-sidebar {
		flex: 0 0 200px;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.items-details {
		flex: 1 1 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		.cards {
			display: flex;
			justify-content: space-around;

			.item {
				.item-options {
					display: flex;
					align-items: center;
					gap: 5px;

					button {
						flex: 1 1 0;
						padding: 5px;
					}
				}
			}
		}
	}
}
