.character-sheet-panel {
	.tags {
		display: flex;
		justify-content: center;
		margin: 20px 0;
	}

	.stats-page,
	.features-page,
	.actions-page {
		display: flex;

		.column {
			flex: 1 1 0;
			margin: 0 10px;
		}
	}

	.items-page {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

		.section {
			.item-row {
				display: flex;

				.item {
					flex: 1 1 0;
					margin: 0 10px;
				}
			}
		}
	}
}
