.character-sheet-panel {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	height: 100%;

	.header {
		flex: 0 0 auto;
	}

	.content {
		flex: 1 1 0;
		overflow-y: auto;
	}

	.tags {
		display: flex;
		justify-content: center;
		margin: 20px 0;
	}

	.stats-page,
	.features-page,
	.actions-page {
		display: flex;

		.column {
			flex: 1 1 0;
			margin: 0 10px;
		}

		.traits {
			display: flex;
			flex-direction: row;
		}
	}

	.items-page {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

		.section {
			.item-row {
				display: flex;

				.item {
					flex: 1 1 0;
					margin: 0 10px;
				}
			}
		}
	}
}
