.stats {
	.grid {
		display: flex;
		align-items: flex-start;
		gap: 10px;

		.column {
			flex: 1 1 220px;
		}
	}

	.stats-row {
		display: flex;
		align-items: center;
		justify-content: center;

		&>* {
			flex: 1 1 0;
		}
	}
}
