.stats {
	display: flex;
	align-items: flex-start;
	gap: 10px;

	.column {
		flex: 1 1 220px;

		&.decks {
			flex: 0 0 250px;
		}
	}

	.decks {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		margin: 20px 0;
	}

	.stats-row {
		display: flex;
		align-items: center;
		justify-content: center;

		&>* {
			flex: 1 1 0;
		}
	}
}
