.card-list-panel {
	.row {
		display: flex;

		.cell {
			flex: 1 1 0;
			border: 0.5px solid rgb(220, 220, 220);
			background-color: rgb(255, 255, 255);
			padding: 5px;

			&.column-heading {
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				text-transform: uppercase;
				font-weight: 600;
				padding: 10px 5px;
			}

			&.centered {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.card-btn {
				display: block;
				background-color: rgb(245, 245, 245);
				font-size: 13px;
				text-transform: none;
				letter-spacing: 0;
				font-weight: 400;
				margin: 2px 0;
				padding: 0 5px;
				flex-direction: row;
				text-align: left;
				min-height: 30px;

				&:hover {
					background-color: rgb(200, 230, 255);
				}
			}
		}
	}
}
