.damage-list-panel {
	display: flex;
	background-color: rgb(255, 255, 255);
	padding: 10px;

	.damage-category {
		flex: 1 1 0;

		.damage-type {
			display: flex;
			flex-direction: column;
		}
	}
}
