.direction-indicator-panel {
	width: 75px;
	border: 1px solid var(--border);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
}
