.encounter-screen {
	height: 100%;
	display: flex;

	.encounter-left-panel,
	.encounter-right-panel {
		height: 100%;
		overflow-y: auto;
		flex: 1 1 0;
		border: 2px solid rgb(220, 220, 220);
		border-radius: 10px;
		padding: 10px 20px;
		background-color: white;
	}

	.encounter-central-panel {
		flex: 0 0 710px;
	}
}
