.encounter-screen {
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;

	&.portrait {
		flex-direction: column;

		.encounter-main-panel {
			flex-direction: column;

			.encounter-central-column {
				flex: 2 2 0;
			}

			.encounter-side-columns {
				flex: 1 1 0;
				display: flex;
				flex-direction: row;
				gap: 10px;
				overflow-x: hidden;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
		
				.encounter-left-column,
				.encounter-right-column {
					flex: 1 1 0;
				}
			}
		}
	}

	.encounter-top-panel {
		flex: 0 0 75px;
		display: flex;
		align-items: center;
		gap: 10px;

		.encounter-toolbar {
			height: 100%;
			flex: 1 1 0;
			padding: 0 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border: 2px solid rgb(220, 220, 220);
			border-radius: 10px;
			background-color: white;

			.icon-section {
				display: flex;
				gap: 5px;

				button:not(.icon-btn) {
					min-width: 250px;
				}
			}
		}

		.action {
			height: 100%;
			flex: 0 0 300px;
			font-size: 18px;
    		letter-spacing: 3px;
			border-radius: 10px;
		}
	}

	.encounter-main-panel {
		height: 100%;
		display: flex;
		flex-direction: row;
		gap: 10px;
		overflow: hidden;

		.encounter-left-column,
		.encounter-right-column {
			height: 100%;
			display: flex;
			flex-direction: column;

			.tab-content {
				flex: 1 1 0;
				border: 2px solid rgb(220, 220, 220);
				border-top: none;
				border-radius: 0 0 10px 10px;
				background-color: rgb(255, 255, 255);
				padding: 0 10px 10px 10px;
				overflow-x: hidden;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
			}
		}

		.encounter-left-column {
			flex: 0 0 250px;
		}

		.encounter-right-column {
			flex: 0 0 300px;
		}

		.encounter-central-column {
			flex: 1 1 0;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			overflow: hidden;

			.encounter-center-panel {
				flex: 1 1 0;
			}

			.encounter-bottom-panel {
				overflow: hidden;
			}
		}
	}

	.treasure-money {
		font-size: 40px;
		font-weight: 600;
	}
}
