.action-controls {

	&.collapsed {
		height: 45px;
		cursor: n-resize;

		.action-controls-content {
			pointer-events: none;
		}
	}

	.action-controls-content {
		display: flex;
		gap: 10px;
		align-items: flex-start;
		padding: 5px;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	
		.separator {
			margin: 0 10px;
			flex: 0 0 2px;
			align-self: center;
			height: 150px;
			background-color: rgb(220, 220, 220);
		}

		.action-details {
			flex: 1 1 0;
			display: flex;
    		flex-direction: column;
    		gap: 5px;
			max-width: 350px;

			.action-parameter {
				border: 2px solid rgb(220, 220, 220);
				border-radius: 5px;
				background-color: rgb(255, 255, 255);
				padding: 0 10px 10px 10px;

				.action-parameter-controls {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
					flex-wrap: wrap;
					gap: 5px;

					.square-indicator {
						border: 1px solid rgb(220, 220, 220);
						border-radius: 5px;
						background-color: rgb(255, 255, 255);
						padding: 5px;
						display: inline-flex;
						align-items: center;
						gap: 3px;
					}

					.map-btn {
						width: 40px;
					}
				}
			}

			.button-row {
				display: flex;
				gap: 10px;
			}
		}
	}

	.banner {
		background-color: rgb(220, 220, 220);
		color: rgb(100, 100, 100);
		font-size: 12px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		margin-bottom: 5px;
	}
}
