.skirmish {
	height: 100%;
	background-color: var(--control);
	overflow: hidden;

	.card-options {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
		margin-top: 50px;
	}
}
