.skirmish {
	height: 100%;
	background-color: var(--control);
	overflow: hidden;

	.card-options {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
		margin-top: 50px;
	}

	.cloud-campaign-summary {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
		margin-top: 12px;
		font-size: 13px;
	}
}
