.round-controls {
	flex: 1 1 0;
	border: 2px solid rgb(220, 220, 220);
	border-radius: 10px;
	background-color: white;
	padding: 0 10px;

	.encounter-stats {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;

		.box {
			flex: 1 1 0;
		}
	}
}
