.encounter-log-panel {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.encounter-log-item {

		.encounter-log-part-combatant,
		.encounter-log-part-rank,
		.encounter-log-part-result,
		.encounter-log-part-text {
			display: inline;
			vertical-align: middle;
			margin-right: 4px;
		}

		.encounter-log-part-combatant {
			display: inline-flex;
			align-items: center;
			gap: 5px;

			.encounter-log-part-combatant-name {
				font-weight: 600;
			}
		}

		.encounter-log-part-rank {
			border: 2px solid var(--border);
			border-radius: 5px;
			padding: 0 5px 1px 5px;
		}

		.encounter-log-part-result {
			background-color: var(--border);
			border-radius: 5px;
			padding: 0 5px 1px 5px;
			font-size: 16px;
			font-weight: 600;
		}
	}
}
