.encounter-map-floor {
	aspect-ratio: 1 / 1;
	position: absolute;
	border: 0.5px solid rgb(240, 240, 240);
	background-color: rgb(255, 255, 255);
	cursor: crosshair;

	&.obstructed {
		background-image: linear-gradient(135deg, rgb(230, 230, 230), rgb(210, 210, 210));
	}

	&.selectable {
		border-color: rgb(60, 170, 255);
		background-color: rgb(200, 230, 255);
		cursor: pointer;

		&:hover {
			outline: 3px solid rgb(60, 170, 255);
			z-index: 100;
		}
	}

	&.selected {
		background-color: rgb(60, 170, 255);
		z-index: 100;
	}
}
