.direction-panel {
	width: 210px;
	height: 210px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2px;

	.dir,
	.center {
		width: 70px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;

		.cost {
			position: absolute;
			border: 1px solid rgb(220, 220, 220);
			border-radius: 3px;
			background-color: rgb(250, 250, 250);
			padding: 2px;
		}
	}

	.dir {
		position: relative;
		border: 2px solid rgb(220, 220, 220);
		border-radius: 10px;
		background-color: rgb(250, 250, 250);

		.arrow {
			position: absolute;
			font-size: 70px;
		}

		&.nw {
			.arrow {
				transform: rotate(225deg);
			}

			.cost {
				right: 12%;
				bottom: 12%;
			}
		}

		&.n {
			.arrow {
				transform: rotate(270deg);
			}

			.cost {
				bottom: 12%;
			}
		}

		&.ne {
			.arrow {
				transform: rotate(315deg);
			}

			.cost {
				left: 12%;
				bottom: 12%;
			}
		}

		&.w {
			.arrow {
				transform: rotate(180deg);
			}

			.cost {
				right: 12%;
			}
		}

		&.e {
			.arrow {
				transform: rotate(0deg);
			}

			.cost {
				left: 12%;
			}
		}

		&.sw {
			.arrow {
				transform: rotate(135deg);
			}

			.cost {
				right: 12%;
				top: 12%;
			}
		}

		&.s {
			.arrow {
				transform: rotate(90deg);
			}

			.cost {
				top: 12%;
			}
		}

		&.se {
			.arrow {
				transform: rotate(45deg);
			}

			.cost {
				left: 15%;
				top: 15%;
			}
		}

		&.enabled {
			cursor: pointer;

			&:hover {
				border-color: rgb(60, 170, 255);
				background-color: rgb(200, 230, 255);
			}
		}

		&.disabled {
			opacity: 0.3;
			pointer-events: none;
		}
	}
}
