.direction-panel {
	margin: 0 auto;
	width: 250px;
	height: 250px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;

	.dir,
	.center {
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;

		.cost {
			position: absolute;
			border: 1px solid rgb(220, 220, 220);
			border-radius: 3px;
			background-color: rgb(250, 250, 250);
			padding: 2px;

			&.big {
				font-size: 30px;
				font-weight: 600;
				border: unset;
				padding: unset;
				background-color: unset;
			}
		}
	}

	.dir {
		position: relative;
		border: 2px solid rgb(220, 220, 220);
		border-radius: 10px;
		background-color: rgb(250, 250, 250);

		&.nw {
			.cost {
				right: 12%;
				bottom: 12%;
			}
		}

		&.n {
			.arrow {
				position: relative;
				top: -10px;
			}

			.cost {
				bottom: 12%;
			}
		}

		&.ne {
			.cost {
				left: 12%;
				bottom: 12%;
			}
		}

		&.w {
			.arrow {
				position: relative;
				left: -10px;
			}

			.cost {
				right: 12%;
			}
		}

		&.e {
			.arrow {
				position: relative;
				right: -10px;
			}

			.cost {
				left: 12%;
			}
		}

		&.sw {
			.cost {
				right: 12%;
				top: 12%;
			}
		}

		&.s {
			.arrow {
				position: relative;
				bottom: -10px;
			}

			.cost {
				top: 12%;
			}
		}

		&.se {
			.cost {
				left: 15%;
				top: 15%;
			}
		}

		&.enabled {
			border-color: rgb(60, 170, 255);
			cursor: pointer;

			&:hover {
				background-color: rgb(200, 230, 255);
			}
		}

		&.disabled {
			opacity: 0.3;
			pointer-events: none;
		}
	}
}
