.hero-card {
	margin: 10px;

	.color-box {
		margin-top: 15px;
		margin-bottom: 30px;
		border: 2px solid rgb(220, 220, 220);
		border-radius: 5px;
		height: 12px;
	}

	.tags {
		text-align: center;
	}

	.traits {
		margin: 10px 0;
		display: flex;
	}

	.damage {
		margin: 10px 0;
		display: flex;
	}

	.conditions {
		margin: 10px 0;
	}

	.items {
		margin: 10px 0;

		.item {
			font-size: 13px;
		}
	}
}
