.hero-card-front {
	.color-box {
		margin: 0 20px;
		border: 2px solid rgb(220, 220, 220);
		border-radius: 5px;
		height: 12px;
	}

	.tags {
		margin-top: 15px;
		text-align: center;
	}
}

.hero-card-back {
	margin: 10px;

	.traits {
		margin: 10px 0;
		display: flex;
		justify-content: space-around;
	}

	.xp {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.items {
		margin: 10px 0;

		.item {
			font-size: 13px;
		}
	}
}
