.card-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.card-grid-header {
		flex: 0 0 auto;
		position: sticky;
		top: 0;
	}

	.card-grid-content {
		flex: 1 1 0;
	}

	.row {
		display: flex;

		.cell {
			flex: 1 1 0;
			border: 0.5px solid var(--border);
			background-color: rgb(255, 255, 255);
			padding: 5px;
			overflow: hidden;

			&.column-heading {
				padding: 10px 5px;
				display: flex;
				flex-direction: column;
				gap: 5px;
				font-size: 13px;

				.pack-name {
					text-transform: uppercase;
					font-weight: 600;
					text-align: center;
					height: 20px;
				}

				.pack-desc {
					font-size: 10px;
					height: 40px;
				}
			}

			&.centered {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.card-btn,
			.card-tile {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: flex-start;
				gap: 5px;
				background-color: rgb(245, 245, 245);
				font-size: 13px;
				text-transform: none;
				letter-spacing: 0;
				font-weight: 400;
				margin: 2px 0;
				padding: 5px;
				text-align: left;
				min-height: 150px;

				.card-name {
					font-size: 13px;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-weight: 600;
				}

				.card-description {
					font-size: 10px;
				}

				.stat-value {
					margin: 0;
				}

				&:hover {
					background-color: var(--primary-light);
				}
			}
		}
	}
}
