.encounter-map-trail-token {
	aspect-ratio: 1 / 1;
	position: absolute;
	border-radius: 50%;
	border: 1px solid rgb(100, 100, 100);
	background: var(--border);
	transform: scale(0.4);
	pointer-events: none;
}
