.heroes-page {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;

	&.landscape {
		.heroes-content,
		.sidebar {
			height: 100%;
		}

		.sidebar {
			.sidebar-section {
				flex: 0 0 auto;
			}
		}
	}

	&.portrait {
		flex-direction: column;

		.heroes-content,
		.sidebar {
			width: 100%;
		}

		.sidebar {
			flex-basis: 365px;
			flex-direction: row;
			align-items: flex-start;
		}
	}

	.heroes-content {
		flex: 1 1 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.sidebar {
		flex: 0 0 300px;
		border: 2px solid rgb(220, 220, 220);
		border-radius: 10px;
		padding: 20px;
		background-color: white;
		display: flex;
		flex-direction: column;
		gap: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		.sidebar-section {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;
		}

		.slots-count {
			font-size: 40px;
			font-weight: 600;
			margin-top: 20px;
		}
	}
}

.retire-hero-card {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
}
