.card-list {
	&.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
		gap: 10px;
	}

	&.row {
		display: flex;
		align-items: flex-start;
		gap: 20px;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}

	.card-container {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin: 10px 0;
	}
}
