.accordion {
	margin: 10px 0;
	border: 2px solid rgb(60, 170, 255);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);

	.accordion-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 0 10px;
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		cursor: pointer;

		&:hover {
			background-color: rgb(200, 230, 255);
		}

		.icon-btn {
			flex: 0 0 40px;
			transition: transform 0.2s;
		}
	}

	&.accordion-open .accordion-header .icon-btn {
		transform: rotate(180deg);
	}

	.accordion-content {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 10px;
	}
}
