.conditions-panel {
	.condition-row {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;

		&.beneficial .tabler-icon {
			color: rgb(0, 100, 0);
		}

		&.detrimental .tabler-icon {
			color: rgb(140, 0, 0);
		}

		.stat-value {
			flex: 1 1 0;
			border: none;
			padding: 0;
		}
	}
}
