.skirmish-text {
	display: flex;
	align-items: center;
	gap: 10px;

	&.default {
		margin: 10px 0;
	}

	&.dimmed {
		margin: 10px 0;
		opacity: 0.5;
	}

	&.heading {
		margin: 20px 0;
	}

	&.subheading {
		margin: 10px 0;
	}

	&.minorheading {
		margin: 10px 0;
	}

	&.listitem {
		margin: 5px 0;
	}

	&.information {
		margin: 10px 0;
		border: 2px solid var(--primary);
		border-radius: 10px;
		background-color: var(--primary-light);
		padding: 0 10px;
	}

	&.tip {
		margin: 5px 0;
	}

	&.small {
		opacity: 0.7;
	}

	&.empty {
		margin: 50px 30px;
		text-align: center;
		opacity: 0.7;
	}

	.skirmish-text-icon {
		flex: 0 0 24px;
		height: 24px;
	}

	.skirmish-text-content {
		flex: 1 1 0;
		word-break: break-word;

		&.default {
			font-size: 15px;
			text-transform: none;
			font-weight: normal;
		}

		&.heading {
			font-size: 30px;
			text-transform: uppercase;
			letter-spacing: 5px;
			font-weight: 600;
			text-align: center;
		}

		&.subheading {
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-weight: 600;
		}

		&.minorheading {
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			font-weight: 600;
		}

		&.listitem {
			font-size: 15px;
		}

		&.information {
			font-size: 13px;
		}

		&.tip {
			font-size: 13px;
		}

		&.small {
			font-size: 12px;
		}
	}

	p {
		margin: 10px 0;
	}
}
