.items-page {
	height: 100%;
	padding: 20px;
	display: flex;
	gap: 20px;

	.items-content {
		flex: 1 1 0;
		overflow-y: auto;
	}

	.sidebar {
		flex: 0 0 400px;
		border: 2px solid rgb(210, 210, 210);
		border-radius: 10px;
		padding: 20px;
		background-color: white;
		overflow-y: auto;
	}

	.card-selection-row {
		width: 620px;
		margin: 0 auto;
	}
}
