.action-card-front {
	margin: 10px;

	.action-title {
		text-align: center;
	}

	.tags {
		margin: 10px 0;
		text-align: center;
	}

	.prerequisite,
	.parameter,
	.effect {
		margin: 2px 0;
		font-size: 11px;
		border: 1px solid var(--border);
		background-color: rgb(255, 255, 255);
		padding: 3px;

		&.highlighted {
			border-color: rgb(200, 50, 50);
			color: rgb(200, 50, 50);
			font-weight: 600;
		}
	}

	.indent {
		margin-left: 20px;
	}
}
