.combatant-controls {
	.tags {
		text-align: center;
	}

	.quick-actions {
		display: flex;
		align-items: flex-start;
		gap: 5px;
	}

	.movement {
		display: flex;
		flex-direction: column;
		align-items: center;

		.direction-panel {
			margin-top: 30px;
		}
	}

	.actions {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.action-details {
		margin-top: 20px;

		.action-prerequisite {
			margin: 5px;
		}

		.action-parameter {
			margin: 5px 0;
			border: 1px solid rgb(220, 220, 220);
			border-radius: 5px;
			padding: 10px;

			&.current {
				background-color: rgb(220, 220, 220);
			}

			.action-parameter-top-line {
				display: flex;
				align-items: center;
				gap: 10px;

				.action-parameter-name {
					flex: 1 1 0;
				}

				.action-parameter-value {
					flex: 1 1 0;
					text-align: right;
				}

				.action-parameter-change {
					flex: 1 1 0;
				}
			}
		}
	}
}
