.combatant-controls {
	.tags {
		text-align: center;
	}

	.movement {
		display: flex;
		flex-direction: column;
		align-items: center;

		.direction-panel {
			margin-top: 30px;
		}
	}

	.actions {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.action-details {
		margin-top: 20px;

		.action-prerequisite {
			margin: 5px;
		}

		.action-parameter {
			padding: 5px;
			display: flex;
			align-items: center;

			.action-parameter-name {
				flex: 1 1 0;
			}

			.action-parameter-value {
				flex: 1 1 0;
				text-align: right;
			}
		}
	}
}
