.selector {
	margin: 10px 0;
	border: 2px solid rgb(130, 130, 130);
    border-radius: 10px;
	padding: 3px;
	background-color: rgb(255, 255, 255);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));

	&:hover {
		border-color: rgb(60, 170, 255);
	}

	.option {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 3px;
		border-radius: 5px;
		padding: 9px;
		cursor: pointer;

		&.selected {
			font-weight: 600;
			background-color: rgb(240, 240, 240);
			pointer-events: none;
		}

		&:hover {
			background-color: rgb(240, 240, 240);
		}
	}
}
