.encounter-controls {
	flex: 1 1 0;
	border: 2px solid rgb(220, 220, 220);
	border-radius: 10px;
	background-color: white;
	padding: 0 10px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;


	.region-reward {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
	}
}
