.encounter-start {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;

	.header {
		flex: 0 0 auto;
		border-bottom: 2px solid rgb(220, 220, 220);
		margin-bottom: 10px;
	}

	.hero-lists {
		flex: 1 1 0;
		display: flex;
		overflow-x: hidden;
		overflow-y: hidden;

		.hero-list-column {
			flex: 1 1 0;
			padding-bottom: 5px;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.narrow {
				flex: 0 0 200px;
			}

			.selected-hero-list {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			.empty-hero-slot {
				display: flex;
				align-items: center;
				height: 75px;
				border: 1px solid rgb(220, 220, 220);
				border-radius: 10px;
				padding: 0 15px;
			}
		}

		.divider {
			flex: 0 0 2px;
			margin: 0 10px;
			border: 1px solid rgb(220, 220, 220);
		}
	}
}
