.card-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
	gap: 10px;

	.card-container {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin: 10px 0;
	}
}
