.damage-page {
	height: 100%;
	display: flex;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.damage-category {
		flex: 1 1 0;

		.damage-type {
			display: flex;
			flex-direction: column;
		}
	}
}
