.region-card-front {

	.map-container,
	.stat-container {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: calc(100% - 100px);
		padding: 10px;
	}

	.map-container {
		opacity: 0.25;
		pointer-events: none;
	}

	.stat-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.region-card-back {
	margin: 10px;
}
