.region-card-front {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	.map-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
		width: 100%;
		pointer-events: none;
		position: relative;
	}

	.stat-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.region-card-back {
	margin: 10px;
}
