.campaign-map-screen {
	display: block;

	.row {
		display: flex;

		.map {
			flex: 3 3 0;
			padding: 10px 10px 0 0;
		}

		.info {
			flex: 1 1 0;
			padding: 10px 0 0 10px;

			.region {
				.boon {
					display: flex;
					justify-content: center;
				}
			}
		}
	}

	.hero-selection {
		.hero-lists {
			display: flex;

			.hero-list-column {
				flex: 1 1 0;

				.list {
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
				}
			}
		}
	}
}
