.stronghold-map {
	.stronghold-map-inner {
		width: 600px;
		height: 600px;
		margin: 0 auto;

		.stronghold-map-square-container {
			position: relative;
			width: 100%;
			height: 100%;
	
			.stronghold-map-square {
				aspect-ratio: 1 / 1;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				text-transform: uppercase;

				&.selected {
					.structure {
						background-color: rgb(255, 255, 255) !important;
						pointer-events: none;
					}
				}

				&:hover {
					.structure-name {
						opacity: 1;
					}
				}

				.structure {
					z-index: 10;
					cursor: pointer;
				}

				.structure-name {
					position: absolute;
					z-index: 20;
					background-color: rgb(0, 0, 0);
					border-radius: 5px;
					padding: 0 5px;
					color: rgb(255, 255, 255);
					font-size: 12px;
					text-align: center;
					pointer-events: none;
					opacity: 0;
				}
			}
		}
	}
}
