.dev-page {
	height: 100%;
	padding: 10px 20px 20px 20px;
	display: flex;
	flex-direction: column;

	.dev-page-content {
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
}
