.playing-card {
	width: 200px;
	height: 300px;
	perspective: 1000px;

	.playing-card-inner {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transition: transform 0.5s;
		transform-style: preserve-3d;

		.playing-card-front,
		.playing-card-back {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			backface-visibility: hidden;
			border: 2px solid rgb(220, 220, 220);
			border-radius: 15px;
			overflow-x: hidden;
			overflow-y: auto;
			background-color: rgb(250, 250, 250);

			hr {
				margin: 10px 0;
				border-top-width: 1px;
			}
		}

		.playing-card-back {
			transform: rotateY(180deg);
		}
	}

	&.clickable .playing-card-inner .playing-card-front,
	&.clickable .playing-card-inner .playing-card-back {
		cursor: pointer;

		&:hover {
			border-color: rgb(64, 169, 255);
		}
	}

	&.flipped .playing-card-inner {
		transform: rotateY(180deg);
	}
}
