.stronghold-page {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;

	&.landscape {
		.map-content,
		.sidebar {
			height: 100%;
		}
	}

	&.portrait {
		flex-direction: column;

		.map-content,
		.sidebar {
			width: 100%;
		}

		.sidebar {
			flex-basis: 365px;
			flex-direction: row;
			align-items: flex-start;
		}
	}

	.map-content {
		flex: 1 1 0;
		border: 2px solid rgb(100, 150, 100);
		border-radius: 10px;
		background-color: rgb(140, 200, 140);
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.sidebar {
		flex: 0 0 300px;
		border: 2px solid rgb(220, 220, 220);
		border-radius: 10px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		background-color: white;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		.sidebar-section {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;
		}

		.slots-count {
			font-size: 40px;
			font-weight: 600;
			margin-top: 20px;
		}

		.upgrade-section {
			display: flex;
			gap: 20px;
			align-items: center;

			.stat-value {
				flex: 1 1 0;
			}

			button {
				flex: 0 0 160px;
			}
		}

		.bolts {
			color: rgb(24, 0, 150);
		}
	}
}
