.campaign-map-page {
	height: 100%;
	padding: 20px;
	display: flex;
	gap: 20px;

	.map-content {
		flex: 1 1 0;
		border: 2px solid rgb(60, 170, 255);
		border-radius: 10px;
		background-color: rgb(130, 200, 250);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.sidebar {
		flex: 0 0 300px;
		border: 2px solid rgb(220, 220, 220);
		border-radius: 10px;
		padding: 20px;
		background-color: white;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		.map-stats {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			margin: 40px 0;
		}

		.region-details-card,
		.region-details-boon {
			display: flex;
			justify-content: center;
			margin: 15px 0;
		}
	}
}
