.campaign-map-page {
	background-color: rgb(130, 200, 250);
	border-radius: 20px;

	.row {
		display: flex;

		.map {
			flex: 3 3 0;
			padding: 10px 10px 0 0;
		}

		.info {
			flex: 1 1 0;
			margin: 20px;
			padding: 20px;
			background-color: white;
			border: 2px solid rgb(210, 210, 210);
			border-radius: 10px;

			.region {
				.boon {
					display: flex;
					justify-content: center;
				}
			}
		}
	}

	.hero-selection {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-y: hidden;

		.header {
			flex: 0 0 auto;
		}

		.hero-lists {
			display: flex;
			overflow-y: hidden;

			.hero-list-column {
				flex: 1 1 0;
				overflow-y: auto;
			}
		}

		.footer {
			flex: 0 0 auto;
		}
	}
}
