.developer {
	border: 2px solid red;
	border-radius: 10px;
	background-image: repeating-linear-gradient(-45deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2) 5px, rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0) 10px);
	padding: 10px;
}

.not-implemented {
	border: 2px solid green;
	border-radius: 10px;
	background-image: repeating-linear-gradient(-45deg, rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2) 5px, rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0) 10px);
	padding: 10px;
}
