.encounter-map {
	height: 100%;
	overflow: auto;
	border: 2px solid rgb(220, 220, 220);
	border-radius: 10px;

	.encounter-map-square-container {
		position: relative;
		margin: 0 auto;

		.encounter-map-square {
			position: absolute;
			border: 0.5px solid rgb(150, 150, 150);
			background-color: rgb(255, 255, 255);

			&.obstructed {
				background-color: rgb(220, 220, 220);
			}

			&.wall {
				background-color: rgb(50, 50, 50);
				border-color: rgb(80, 80, 80);
			}
		}

		.encounter-map-loot-token {
			position: absolute;
			border-radius: 50%;
			border: 1px solid rgb(180, 130, 10);
			background: radial-gradient(rgb(230, 175, 40), rgb(210, 155, 20));
		}

		.encounter-map-aura-token {
			position: absolute;
			border-radius: 33%;
			border: 1px solid rgb(80, 80, 80);
			background: radial-gradient(rgb(160, 160, 160), rgb(140, 140, 140));
			opacity: 0.25;
		}

		.encounter-map-mini-token {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			border: 1px solid rgb(100, 100, 100);
			background: rgb(150, 150, 150);
			color: white;
			font-weight: 600;

			&.hero {
				border-color: rgb(0, 70, 0);
				background: radial-gradient(rgb(0, 150, 0), rgb(0, 100, 0));
			}

			&.monster {
				border-color: rgb(100, 0, 0);
				background: radial-gradient(rgb(240, 0, 0), rgb(220, 0, 0));
			}

			&.current {
				outline: 3px solid rgb(60, 170, 255);
			}
		}

		.encounter-map-loot-token,
		.encounter-map-mini-token {
			&:hover {
				outline: 3px solid rgb(200, 230, 255);
			}

			&.selected {
				outline: 3px solid rgb(60, 170, 255);
			}
		}
	}
}
