.encounter-map {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border: 2px solid rgb(220, 220, 220);
	border-radius: 10px;
	background-color: rgb(230, 230, 230);

	.encounter-map-square-container {
		position: relative;
		margin: 0 auto;
	}
}
