.encounter-map {
	background-color: rgb(240, 240, 240);

	.encounter-map-inner {
		width: 700px;
		height: 700px;
		margin: 0 auto;

		.encounter-map-square-container {
			position: relative;
			width: 100%;
			height: 100%;
	
			.encounter-map-square {
				position: absolute;
				border: 1px solid rgb(200, 200, 200);
			}

			.encounter-map-token {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				border: 1px solid rgb(100, 100, 100);
				background-color: rgb(150, 150, 150);
				color: white;
				font-weight: 600;

				&.hero {
					border-color: darkgreen;
					background-color: green;
				}

				&.monster {
					border-color: darkred;
					background-color: red;
				}
			}
		}
	}
}
