.magic-item-info-modal {
	display: block;

	.magic-item-info-content {
		display: flex;
		justify-content: space-evenly;
		gap: 20px;

		.card {
			flex: 0 0 auto;
		}

		.hero-list {
			flex: 0 0 500px;
			display: flex;
			flex-direction: column;
			gap: 5px;

			&.empty {
				padding-top: 100px;
			}
		}
	}
}

.item-comparer-dialog {
	.item-columns {
		display: flex;
		justify-content: space-evenly;

		.item-column {
			flex: 0 0 250px;

			.card-container {
				margin: 10px auto;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}
