.campaign-screen {
    height: 100%;
    display: flex;
    flex-direction: column;

	.campaign-top-bar {
		flex: 0 0 auto;
		background-color: rgb(230, 230, 230);
		border-bottom: 2px solid rgb(220, 220, 220);
		padding: 0 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 25px;

		.branding,
		.money,
		.buttons {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		.branding {
			.logo {
				width: 40px;
				margin: 10px 0;
				filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
			}

			.logo-text {
				font-size: 36px;
				letter-spacing: 6px;
			}
		}
	}

	.selector {
		margin: 10px;

		.page-btn {
			display: flex;
			gap: 5px;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}

	.campaign-content {
		flex: 1 1 0;
		overflow-x: hidden;
		overflow-y: hidden;
		padding: 0 10px 10px 10px;
	}
}
