.campaign-screen {
    height: 100%;
    display: flex;
    flex-direction: column;

	.campaign-top-bar {
		flex: 0 0 auto;
		background-color: rgb(230, 230, 230);
		border-bottom: 2px solid rgb(220, 220, 220);
		padding: 0 20px;
		display: flex;
		align-items: center;
		gap: 20px;

		.selector {
			flex: 1 1 0;
		}

		button {
			flex: 0 0 50px;
		}
	}

	.campaign-content {
		flex: 1 1 0;
		overflow-y: hidden;
	}
}
