.encounter-map-aura-token {
	aspect-ratio: 1 / 1;
	position: absolute;
	border-radius: 33%;
	border: 1px solid rgb(80, 80, 80);
	background: radial-gradient(transparent, rgb(140, 140, 140));
	opacity: 0.3;
	pointer-events: none;
}
